<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewBag.Title | Textile ERP</title>
    <link href="~/Bundle/css/site-bundle.min.css" rel="stylesheet" />

</head>
<body>
    <!--Main Navigation-->
    <header>
    </header>
    <!--Main Navigation-->
    <!--Main layout-->

    <section id="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <!--Main layout-->
    <!--Footer-->
    <footer class="bg-light py-4">
        <div class="container text-center text-muted">
            © Copyright <a target="_blank" href="https://www.epylliongroup.com" class="text-decoration-none">Epyllion Group</a>. All rights reserved.
        </div>
    </footer>

    <!--Footer-->
    <!--  Scripts-->
    <script src="~/bundle/js/site-bundle.min.js"></script>
    <script src="~/Scripts/Account/Login.js"></script>
</body>
</html>