<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewBag.Title | Textile ERP</title>

    <link href="~/Content/home-bundle.min.css" rel="stylesheet" />
</head>
<body>
    <!--Main Navigation-->
    <header>
        <div class="navbar-fixed" style="font-family:'Encode Sans'">
            <div class="nav-wrapper">
                <nav class="blue-grey darken-3" role="navigation">
                    <div class="nav-wrapper container-fluid">
                        <a href="#!" class="brand-logo">
                            <img src="~/Images/logo.png" />
                        </a>
                        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a target="_blank" href="../../helpfile/Introduction.html"><i class="material-icons left">help</i>Help</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main>
        <section id="main-content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer blue-grey lighten-5">
        <div class="footer-copyright">
            <div class="container center grey-text text-darken-4">
                © Copyright <a target="_blank" href="https://www.epylliongroup.com">Epyllion Group</a>. All rights reserved.
            </div>
        </div>
    </footer>
    <!--Footer-->

    <!--  Scripts-->
    <script src="~/Scripts/home-bundle.min.js"></script>
</body>
</html>