################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EPYSLTEXCore/DesignTimeBuild
/.vs/EPYSLTEXCore/FileContentIndex
/.vs/EPYSLTEXCore/v17
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.API.dll
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.API.exe
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.API.pdb
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.API.staticwebassets.runtime.json
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.Application.dll
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.Application.pdb
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.Infrastructure.dll
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.Infrastructure.pdb
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.AssemblyInfo.cs
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.AssemblyInfoInputs.cache
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.csproj.AssemblyReference.cache
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.GeneratedMSBuildEditorConfig.editorconfig
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.sourcelink.json
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.sourcelink.json
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.sourcelink.json
/EPYSLTEXCore.Infrastructure/bin/Debug/net8.0
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.AssemblyInfo.cs
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.AssemblyInfoInputs.cache
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.assets.cache
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.csproj.AssemblyReference.cache
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.csproj.BuildWithSkipAnalyzers
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.csproj.CoreCompileInputs.cache
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.csproj.FileListAbsolute.txt
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.dll
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.genruntimeconfig.cache
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/EPYSLTEXCore.Infrastructure.pdb
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/refint/EPYSLTEXCore.Infrastructure.dll
/EPYSLTEXCore.Infrastructure/obj/EPYSLTEXCore.Infrastructure.csproj.nuget.dgspec.json
/EPYSLTEXCore.Infrastructure/obj/EPYSLTEXCore.Infrastructure.csproj.nuget.g.props
/EPYSLTEXCore.Infrastructure/obj/project.assets.json
/EPYSLTEXCore.Infrastructure/obj/project.nuget.cache
/EPYSLTEXCore.Application/bin/Debug/net8.0/EPYSLTEXCore.Application.dll
/EPYSLTEXCore.Application/bin/Debug/net8.0/EPYSLTEXCore.Application.pdb
/EPYSLTEXCore.Application/bin/Debug/net8.0/EPYSLTEXCore.Infrastructure.dll
/EPYSLTEXCore.Application/bin/Debug/net8.0/EPYSLTEXCore.Infrastructure.pdb
/EPYSLTEXCore.API/bin/Debug/net8.0/appsettings.json
/EPYSLTEXCore.Infrastructure/obj/Debug/net8.0/ref/EPYSLTEXCore.Infrastructure.dll
/EPYSLTEXCore.API/obj/Debug/net8.0/apphost.exe
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.assets.cache
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.csproj.CoreCompileInputs.cache
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.csproj.FileListAbsolute.txt
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.dll
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.genruntimeconfig.cache
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.pdb
/EPYSLTEXCore.API/obj/Debug/net8.0/project.razor.vs.bin
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets/msbuild.EPYSLTEXCore.API.Microsoft.AspNetCore.StaticWebAssets.props
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets.build.json
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets.development.json
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets.pack.json
/EPYSLTEXCore.API/obj/EPYSLTEXCore.API.csproj.nuget.dgspec.json
/EPYSLTEXCore.API/obj/EPYSLTEXCore.API.csproj.nuget.g.props
/EPYSLTEXCore.API/obj/project.assets.json
/EPYSLTEXCore.API/obj/project.nuget.cache
*.config
/EPYSLTEXCore.API/obj/Debug/net8.0/ref/EPYSLTEXCore.API.dll
/EPYSLTEXCore.API/obj/Debug/net8.0/refint/EPYSLTEXCore.API.dll
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.AssemblyInfo.cs
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.AssemblyInfoInputs.cache
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.assets.cache
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.csproj.AssemblyReference.cache
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.csproj.BuildWithSkipAnalyzers
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.csproj.CoreCompileInputs.cache
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.csproj.FileListAbsolute.txt
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.dll
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.GeneratedMSBuildEditorConfig.editorconfig
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.genruntimeconfig.cache
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.pdb
/EPYSLTEXCore.Application/obj/Debug/net8.0/refint/EPYSLTEXCore.Application.dll
/EPYSLTEXCore.Application/obj/EPYSLTEXCore.Application.csproj.nuget.dgspec.json
/EPYSLTEXCore.Application/obj/EPYSLTEXCore.Application.csproj.nuget.g.props
/EPYSLTEXCore.Application/obj/project.assets.json
/EPYSLTEXCore.Application/obj/project.nuget.cache
/EPYSLTEXCore.Application/obj/Debug/net8.0/ref/EPYSLTEXCore.Application.dll
/EPYSLTEXCore.API/wwwroot/Bundle/css/dashboard-bundle.min.css
/EPYSLTEXCore.API/wwwroot/Bundle/css/report-bundle.min.css
/EPYSLTEXCore.API/wwwroot/Bundle/css/site-bundle.min.css
/EPYSLTEXCore.API/wwwroot/Bundle/js/dashboard-bundle.min.js
/EPYSLTEXCore.API/wwwroot/Bundle/js/report-bundle.min.js
/EPYSLTEXCore.API/wwwroot/Bundle/js/site-bundle.min.js
/EPYSLTEXCore.API/bin/Debug/net8.0/bundleconfig.json
*.dll
/.vs/ProjectEvaluation/epysltexcore.metadata.v7.bin
/.vs/ProjectEvaluation/epysltexcore.projects.v7.bin
/EPYSLTEXCore.Application/bin/Debug/net8.0/EPYSLTEXCore.Application.deps.json
/EPYSLTEXCore.Application/obj/Debug/net8.0/EPYSLTEXCore.Application.csproj.CopyComplete
/.vs/ProjectEvaluation/epysltexcore.metadata.v9.bin
/.vs/ProjectEvaluation/epysltexcore.projects.v9.bin
/.vs/ProjectEvaluation/epysltexcore.strings.v8.bin
/.vs/ProjectEvaluation/epysltexcore.strings.v9.bin
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.API.deps.json
/EPYSLTEXCore.API/bin/Debug/net8.0/EPYSLTEXCore.API.staticwebassets.endpoints.json
/EPYSLTEXCore.API/obj/Debug/net8.0/ApiEndpoints.json
/EPYSLTEXCore.API/obj/Debug/net8.0/EPYSLTEXCore.API.csproj.CopyComplete
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets/msbuild.build.EPYSLTEXCore.API.props
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets/msbuild.EPYSLTEXCore.API.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets.removed.txt
/EPYSLTEXCore.API/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/EPYSLTEXCore.Report/bin
/EPYSLTEXCore.Report/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/EPYSLTEXCore.Report/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/EPYSLTEXCore.Report/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EPYSLTEXCore.Report/obj/Debug/EPYSLTEX.815DB6BA.Up2Date
/EPYSLTEXCore.Report/obj/Debug/EPYSLTEXCore.Report.csproj.AssemblyReference.cache
/EPYSLTEXCore.Report/obj/Debug/EPYSLTEXCore.Report.csproj.CoreCompileInputs.cache
/EPYSLTEXCore.Report/obj/Debug/EPYSLTEXCore.Report.csproj.FileListAbsolute.txt
/EPYSLTEXCore.Report/obj/Debug/EPYSLTEXCore.Report.pdb
*.xdt
/packages/Microsoft.AspNet.Mvc.5.3.0/lib/net45
/packages/Microsoft.AspNet.Mvc.5.3.0
/packages
