@using EPYSLTEXCore.API.Models.Security
@model LoginBindingModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="align-wrapper center-align">
    <h3 class="teal-text text-darken-1"><i class="fa fa-lock"></i>Login</h3>
    <br />
    @{
        if (ViewBag.EmailSent == true)
        {
            <div class="green-text text-lighten-2 center">
                <h5>A confirmation email is sent to your @ViewBag.Email</h5>
                <p>Please check your your email.</p>
            </div>
        }
    }    
    <div class="login-form-box z-depth-1 grey lighten-4 row">
        
        <form id="login-form">
            <div class='row' style="color:black">
                <input type="hidden" name="grant_type" value="password" />
                <div class='input-field col s12'>
                    <input id="name" type="text" class="validate" name="Username" value="@ViewBag.UserName">
                    <label for="name">Username</label>
                </div>
            </div>
            <div class='row'>
                <div class='input-field col s12'>
                    <input id="password" type="password" class="validate" name="Password" value="@ViewBag.Password">
                    <label for="password">Password</label>
                </div>
                <label style='float: right;'>
                    @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", new { @class = "teal-text" })
                </label>
            </div>
            <div class='row'>
                <button id="btn-signin" class='col s12 btn waves-effect #00695c darken-3'>Login</button>
            </div>
 
                <div class="container center grey-text text-darken-4 footer-text-small">
                    © Copyright <a target="_blank" href="https://www.epylliongroup.com">Epyllion Group</a>. All rights reserved.
                </div>
        </form>
    </div>
</div>