<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Report Viewer | Report ERP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Google Font -->

    <link href="https://localhost:7053//bundle/css/site-bundle.min.css" rel="stylesheet" />
    <script src="https://localhost:7053//bundle/js/site-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <form id="form1" runat="server">
        <div class="wrappper">
            <!-- Main Header -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="~/Content/Images/Big-Logo.png" alt="AdminLTELogo" height="250" width="350">
            </div>
            <nav class="main-header navbar navbar-expand navbar-white navbar-light p-0">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                    </li>

                </ul>

                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <!-- Navbar Search -->
                    <li class="nav-item">
                        <a class="nav-link text-info" href="#" role="button" title="Info">
                            <i class="fas fa-question"></i>
                        </a>

                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-danger" data-widget="fullscreen" href="#" role="button" title="Fullscreen">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <i class="nav-icon fa fa-cog text-primary"></i>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#!"
                               class="dropdown-item"
                               data-controller-name="Account"
                               data-action-name="Profile"
                               onclick="clickAccountNavigation(event);">
                                <i class="fa fa-user text-info mr-2"></i> Profile
                            </a>
                            <a href="#!"
                               class="dropdown-item"
                               data-controller-name="Account"
                               data-action-name="ChangePasswordPartial"
                               onclick="clickAccountNavigation(event);">
                                <i class="fa fa-user-secret text-warning mr-2"></i> Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a role="button" class="dropdown-item" onclick="logout()">
                                <i class="fa fa-sign-out text-danger mr-2"></i> Logout
                            </a>
                        </div>
                    </li>


                </ul>
            </nav>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="javascript:void(0);" onclick="window.location.reload();" class="top-left-logo">
                    <img src="~/Content/Images/logo.png" alt="Epyllion Logo" title="Epyllion Group" class="com-logo" />

                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-1 pb-1 mb-1 d-flex">
                        <div class="pull-left image" style="min-height: 45px; max-height: 45px;">
                            <img src="~/Content/Images/user.png" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">@ViewBag.EmployeeName</a>
                        </div>
                    </div>



                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="sidebar-menu nav nav-pills nav-sidebar flex-column text-sm" style="padding: .1rem .1rem !important;" data-widget="treeview" role="menu" data-accordion="false"></ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Report Viewer</h1>
                                <small class="text-muted">Textile ERP</small>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                                    <li class="breadcrumb-item active">Report Viewer</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- Main content -->
                <section class="content container-fluid">
                    @RenderBody()
                </section>
                <!-- /.content -->

            </div>
            <!-- /.content-wrapper -->
            <!-- Main Footer -->
            <footer class="main-footer center p-0 overflow-hidden">
                <div class="row p-1">
                    &nbsp; &nbsp;
                    <button class="btn btn-warning " title="Clear Parameters" id="btnClear">
                        <i class="fas fa-retweet"></i></i>&nbsp;Clear
                    </button>&nbsp;
                    <button class="btn btn-primary " title="Preview" id="btnPreveiw">
                        <i class="fa fa-eye"></i>&nbsp;Preview
                    </button>&nbsp;
                    <button class="btn btn-danger " title="PDF View" id="btnPdf">
                        <i class="fas fa-file-pdf"></i>&nbsp;PDF View
                    </button>&nbsp;
                    <button class="btn btn-primary " title="Preview Excel" id="btnExcel" style="display:none">
                        <i class="fas fa-file-excel"></i>&nbsp;Excel View
                    </button>
                </div>

                <hr />
                <p class="text-center">
                    <strong>Copyright &copy; <a href="http://www.epylliongroup.com">Epyllion Group</a>.</strong> All rights reserved.
                </p>
            </footer>
        </div>
    </form>


    <script src="https://localhost:7053/Scripts/common/common-helpers.js?version=@Guid.NewGuid()"></script>
    <script src="~/Scripts/common/app-report.js?version=@Guid.NewGuid()"></script>
    <script src="@Url.Action("CacheEj2MinJS", "Cache")"></script>
</body>
</html>
